@font-face {
  font-family: "supermarket";
  src: url("/fonts/supermarket.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
