@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "supermarket";
  src: url("/fonts/supermarket.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "supermarket", sans-serif;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 800px) {
  body{
    display: block;
  }
}

.layoutTop {
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  .changeL {
    @apply flex justify-end gap-1;
  }

  span {
    display: flex;
    padding: 0.5vh 0;

    .icon {
      background-color: #000;
    }
  }

  input {
    width: 18vh;
    height: 25px;
    font-size: 12px;
    border: #000 solid 1px;
    /* margin: 0 5vh; */
  }
}

.layoutBot {
  font-family: none;
  display: flex;
  padding: 15px 0;
  align-items: center;
  bottom: 0;

  p {
    width: 89%;
    padding: 15px 1vh;
    font-size: 10px;
    color: white;
    display: flex;
    align-items: center;
    height: 11px;
    overflow: hidden;
    float: left;
    border-radius: 5px;
    line-height: 11px;
    background-color: #000;
    background-size: auto, auto, auto;
    background-position: left top, center top, right top;
    background-repeat: no-repeat, repeat, no-repeat;
    background-image: url("/images/SOne_index_bgmenu01.png"),
      url("/images/SOne_index_bgmenu02.png"),
      url("/images/SOne_index_bgmenu03.png");
  }
}